ConexionServicio/conexion.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Calculadora"
             targetNamespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
             xmlns:tns="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <message name="sumaRequest">
        <part name="num1" type="xsd:int"/>
        <part name="num2" type="xsd:int"/>
    </message>
    <message name="sumaResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="restaRequest">
        <part name="num1" type="xsd:int"/>
        <part name="num2" type="xsd:int"/>
    </message>
    <message name="restaResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="multiplicacionRequest">
        <part name="num1" type="xsd:int"/>
        <part name="num2" type="xsd:int"/>
    </message>
    <message name="multiplicacionResponse">
        <part name="result" type="xsd:int"/>
    </message>
    <message name="divisionRequest">
        <part name="num1" type="xsd:int"/>
        <part name="num2" type="xsd:int"/>
    </message>
    <message name="divisionResponse">
        <part name="result" type="xsd:int"/>
    </message>
    
    <portType name="CalculadoraPort">
        <operation name="suma">
            <input message="tns:sumaRequest"/>
            <output message="tns:sumaResponse"/>
        </operation>
        <operation name="resta">
            <input message="tns:restaRequest"/>
            <output message="tns:restaResponse"/>
        </operation>
        <operation name="multiplicacion">
            <input message="tns:multiplicacionRequest"/>
            <output message="tns:multiplicacionResponse"/>
        </operation>
        <operation name="division">
            <input message="tns:divisionRequest"/>
            <output message="tns:divisionResponse"/>
        </operation>
    </portType>
     <binding name="CalculadoraBinding" type="tns:CalculadoraPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
            <operation name="suma">
        <soap:operation soapAction="http://ejemplo.com/calculadora#suma"/>
        <input>
            <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
             <soap:parameter  name="num1" type="xsd:int"/>
             <soap:parameter  name="num2" type="xsd:int"/>
        </input>
        <output>
            <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
            encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
        </output>
    </operation>

        <operation name="resta">
            <soap:operation soapAction="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl#resta"/>
            <input>
                <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://ejemplo.com/calculadora"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="multiplicacion">
            <soap:operation soapAction="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl#multiplicacion"/>
            <input>
                <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="division">
            <soap:operation soapAction="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"/>
            <input>
                <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="CalculadoraService">
        <port name="CalculadoraPort" binding="tns:CalculadoraBinding">
            <soap:address location="http://localhost/Proyectos_2/ServiciosWeb/Calculadora/Cliente/cliente.wsdl"/>
        </port>
    </service>
</definitions>
